
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myView</title>
</head>
<body>
    @ViewBag.loc
    <p>I can do it</p>
    <a asp-action="Register">Đăng ký học</a>
</body>
</html>
