@model Registration.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>Thanks you for resigtration, </p> @Model.Name !
    <a asp-action="listStudent">Danh sách đăng ký</a>
</body>
</html>
